/* .kvnkjabvav .showPass{
    position: relative;
  }
  .kvnkjabvav .showPass .showPassIcon{
    position:absolute ;
    bottom: 22px ;
    right: 80px ;
    font-size: 1.3em ;
    cursor: pointer;
  }
  input{
    width: "60%";
    height: "25px";
    background: "#e0dede";
    justify-content: "center";
    display: "flex";
    margin: "20px auto";
    padding: "10px";
    border: "none";
    outline: "none";
    border-radius: "5px";
  }
  
  */